@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

.container, body{
    background-color: white;
}

.carrousell-text{
    color: black;
    font-family: "Playwrite DE Grund", cursive;
}

.carrousell-tittle{
    color: black;
}

footer{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;

    /*
    margin-top: auto; // Empuja el footer al fondo
    min-height: 100vh; // Altura mínima de la página para ocupar toda la pantalla
    display: flex;
    flex-direction: column;
    */
} 

.nav-link.active {
    font-size: 1.15rem;
}

#btn-contactanos{
    background-color: #c500e8; /* Fondo del botón */
    border: none; /* Sin bordes */
    color: white; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor tipo mano al pasar sobre el botón */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 4px #999; /* Sombra para darle profundidad */
    transition: background-color 0.3s, box-shadow 0.3s; /* Animaciones suaves */
      
}

      
/* Efecto al pasar el cursor */
#btn-contactanos:hover {
background-color: #850097; /* Cambia el color al hacer hover */
box-shadow: 0 4px #ffffff; /* Mayor sombra al pasar el cursor */
}

/* Efecto al hacer clic */
#btn-contactanos:active {
background-color: #c500e8; /* Cambia el color al hacer clic */
box-shadow: 0 2px #ff9ff1; /* Sombra más pequeña al hacer clic */
transform: translateY
}

.navbar-container, .nav-tabs .nav-link.active, .nav-tabs .nav-link{
    /* background-color: #1b3039; */
    background-color: #6c4675;
    color: white;
}
.nav-tabs .nav-link.active{
    background-color: #6c0055;
}
.card{
    background-color: #f6e1ed;
}

.breadcrumb {
    background-color: transparent; /* Elimina el fondo por defecto */
    padding: 0; /* Elimina el padding innecesario */
}
.breadcrumb-item a {
    color: #6c0055; /* Color azul predeterminado de Bootstrap */
    text-decoration: none; /* Elimina el subrayado del enlace */
}
.breadcrumb-item a:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el cursor */
}
.breadcrumb-item.active {
    color: #6c757d; /* Color para la página actual */
}
.breadcrumb-divider::before {
    content: '>'; /* Cambia el divisor entre elementos */
    color: #6c757d; /* Color del divisor */
    margin: 0 5px;
}
p{
    text-align: justify;
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}